/* You can add global styles to this file, and also import other style files */
.main-titles{
    margin-bottom: 70px;
    text-align: center;
    
}
.main-div{
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.required-fields{
    color: red;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}